<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form id="login-form" method='post' action="/login">
            <div class="input-group">
                <label for="username">Email</label>
                <input type="text" id="email" name="email" autocomplete="email">
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" autocomplete="current-password">
            </div>
            <button type="submit">Login</button>
            <p>Not an account? <a href="/registration">Register</a></p>
        </form>
    </div>
</body>
</html>
    